## Task 1
## Divyansh Sengar

# Assignment 1

## 1

In [2]:
n=5
for i in range(5):
    for j in range(n-i):
        print('5',end=' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## 2

In [4]:
n=5
for i in range(5):
    for j in range(n-i+1):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

## 3

In [12]:
n=5
for i in range(5):
    for j in range(i+1):
        print(2*i+1,end=' ')
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

## 4

In [134]:
n=5
c=1
temp=1
for i in range(1,6):
    temp=c
    for j in range(i):
        print(temp,end=' ')
        temp=temp-1
    print()
    c=c+1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

## 5

In [180]:
n=5
temp=0
for i in range(1,n):
    temp=temp+i
    c=temp
    for j in range(i):
        print(c,end=' ')
        c=c-1
    print()

1
3 2
6 5 4
10 9 8 7

## 6

In [1]:
n=7
count=1
for i in range(0,n):
    for j in range(i+1):
        if j==0 or j==i:
            count=1
        else:
            count*=(i-j+1)/j
        print(int(count),end=' ')
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

## 7

In [192]:
n=5
for i in range(1,n+1):
    for k in range(i):
        print(i,end=' ')
    for j in range(i+1,n+1):
        print(j,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

## 8

In [194]:
n=8
for i in range(1,n+1):
    temp=i
    for j in range(i):
        print(temp,end=' ')
        temp=temp+i
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

## 9

In [2]:
n=5
for i in range(n,0,-1):
    for k in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

## 10

In [5]:
n=7
for i in range(n):
    for j in range(n-(i+1)):
        print(' ',end=' ')
    for k in range(2*i+1):
        print('*',end=' ')
    print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

## 11

In [224]:
n=6
for i in range(1,n+1):
    for j in range(i):
        print('*',end=' ')
    print()
print()
for i in range(n,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

## 12

In [13]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(4):
    for j in range(4-i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 13

In [32]:
for i in range(5,0,-1):
    for j in range(i-1):
        print(' ',end=' ')
    for j in range(5-(i-1)):
        print('*',end=' ')
    print()
for i in range(1,5):
    for j in range(i):
        print(' ',end=' ')
    for j in range(i,5):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

## 14

In [8]:
n=5
for i in range(5,0,-1):
    for k in range(5-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()
for i in range(n):
    for j in range(n-(i+1)):
        print(' ',end=' ')
    for k in range(2*i+1):
        print('*',end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## 15

In [221]:
n=8
for i in range(n):
        if i==0:
            for j in range(n*2):
                print('*',end='')
        else:
            for j in range(1,n-i+1):
                print('*',end='')
            for j in range(1,(n*2)-((n-i)*2)+1):
                print('_',end='')
            for j in range(1,n-i+1):
                print('*',end='')
        print()

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*